.idea
cmake-build-debug-static
cmake-build-debug
build.sh
build.cmd
build
build-static
install
install-static
clean.sh
clean.cmd
b-d-s
b-d
b-s
i-d-s
i-d
i-s

# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode

